{% extends 'main/header.html' %}

{% block content %}
    <div class="row">
        <h2 class="card-title">{{ course.title }}</h2>
        <p>{{ course.summary }}</p>
        <ul class="collapsible"> <!-- expandable -->
            {% for t in tasks %}
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ t.title }}</div>
                  <div class="collapsible-body">
                      <span>{{ t.summary }}</span>
                      <span>{{ t.rating }}</span>
                      <a href="{{ course.id }}/{{ t.id }}" class="waves-effect waves-light btn">Начать!</a>
                  </div>
                </li>
            {% endfor %}
        </ul>

	</div>
	<script>
        $(document).ready(function(){
            //alert(1);
            $(".collapsible").collapsible({accordion: true});
            $(".collapsible").collapsible({accordion: false});
        });
    </script>
{% endblock %}

