{% extends 'main/header.html' %}

{% block content %}
    <div class="row">

        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12">
                    ><a href="/courses" class="breadcrumb">Курсы</a>
                </div>
            </div>
        </nav>

        <h2 class="card-title">{{ course.title }}</h2>
        <p>{{ course.summary }}</p>
        <ul class="collapsible"> <!-- expandable -->
            {% for t in tasks %}
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ t.title }}</div>
                  <div class="collapsible-body">
                      <span>{{ t.summary }}</span>
                      <p>
                        {% for i in i|rjust:t.rating %}
                            <i class="material-icons" style="color: orange;">star</i>
                        {% endfor %}
                      </p>
                      <a href="{{ course.id }}/{{ t.id }}" class="waves-effect waves-light btn">Начать!</a>
                  </div>
                </li>
            {% endfor %}
        </ul>

	</div>
	<script>
        $(document).ready(function(){
            $(".collapsible").collapsible({accordion: true});
            $(".collapsible").collapsible({accordion: false});
        });
    </script>
{% endblock %}

