{% extends 'main/header.html' %}

{% block content %}
    <div class="row">
        <div class="col s8">
            <div class="row">
                {% for c in courses %}
                    <div class="col s12">
                        <a href="{{ c.id }}">
                            <div class="card blue hoverable">
                                <div class="card-content white-text">
                                    <span class="card-title">{{ c.title }}</span>
                                    <p>{{ c.summary|truncatechars:100 }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-content">
                    <p>
                        <label for="search">Поиск курсов</label>
                        <input id="search" type="text" class="validate">
                    </p>
                    <br/>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in"/>
                            <span style="white-space: pre-wrap">Курсы, которые я прохожу</span>
                        </label>
                    </p>
                    <br/>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in"/>
                            <span>Мои курсы</span>
                        </label>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}