{% extends 'main/header.html' %}

{% block content %}
    <div class="row">

        {% include "main/includes/nav-menu-first.html" %}

        <div class="col s10">
            <h2 style="display: inline-block" class="card-title">{{ course.title }}</h2>
            {% if user.is_superuser %}    
                <a href="../add_task?course_id={{ course.id }}" style="display: inline-block;">
                    <i class="material-icons green-text text-lighten-1">add_box</i>
                </a>
            {% endif %}
        </div>
        <div class="col s2">
            {% if not course|check_in_course:user_courses %}
                <a id="enroll-btn" href="#" onclick="enroll()" class="waves-effect waves-light btn">Записаться</a>
                <p id="in-course" style="display: none;">Вы участвуете!</p>
            {% else %}
                <p id="in-course">Вы участвуете!</p>
            {% endif %}
        </div>
        
        <div class="col s12">
            <p>{{ course.summary }}</p>
            <ul class="collapsible" style="text-align: center;"> 
                {% for t in tasks %}
                    <li>
                        <div class="collapsible-header">
                            <h5><i class="material-icons">assignment</i></h5>
                            <h5>{{ t.title }}</h5>
                        </div>
                        <div class="collapsible-body">
                            <h5><b>Описание задачи</b></h5>
                            <span style="white-space: pre-wrap">{{ t.summary }}</span>
                            <p>
                                <hr style="width: 30%"/>
                                <h5><b>Сложность</b></h5>
                                {% if t.rating != 0 %}
                                    {% for i in t.rating|rjust:t.rating %}
                                        <i class="material-icons" style="color: orange;">star</i>
                                    {% endfor %}
                                {% endif %}
                            </p>
                            <a href="{{ course.id }}/{{ t.id }}" class="waves-effect waves-light btn
                            {% if not course|check_in_course:user_courses %}
                                disabled
                            {% endif %}
                            ">Приступить к выполнению!</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
	</div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $(".collapsible").collapsible();

            $("div.collapsible-header").css({"background-color": "#26A69A", 
                                             "color": "white",
                                             "padding": "0rem 0.4rem"})
        });

        function enroll() {
            var data = "&csrfmiddlewaretoken={{ csrf_token }}";
            $.ajax({
                url: '#',
                method: 'POST',
                data: data,
                success: function(response) {
                    $('#enroll-btn').remove();
                    $('#in-course').css('display', 'block');
                    $('div.collapsible-body > a').removeClass('disabled');
                    M.toast({html: 'Вы записались на курс!',
                            classes: 'green',
                            display_length: 1000})
                }
            });
        }
    </script>
    
    <style>
        #enroll-btn {
            margin-top: 45px;
            float: right;
        }
        #in-course {
            color:red;
            margin-top: 60px;
            margin-right: 25px;
            float: right;
            text-align: center;
        }
    </style>
{% endblock %}
