
<head>
    {% load static %}
    <!-- Compiled and minified Materialize CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/custom.css' %}" rel="stylesheet">
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="{% static 'CodeMirror/theme/material.css' %}" rel="stylesheet">
    <link href="{% static 'CodeMirror/theme/eclipse.css' %}" rel="stylesheet">
    <!-- monokai, dracula, blackboard -->
    <link href="{% static 'CodeMirror/addon/scroll/simplescrollbars.css' %}" rel="stylesheet">

</head>

<body>

    {% include 'main/includes/navbar.html' %}
    {% include 'main/includes/messages.html' %}

    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>

</body>
{%block header%}
    {%endblock%}