{% extends 'main/header.html' %}

{% load static %}
{% block content %}
    <div class="row">
        <div class="col s4 center-align">
            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
            <form id="load-avatar-form" method="post" enctype="multipart/form-data" onchange="$(this).submit()">
                {% csrf_token %}
                <input id="load-avatar" type="file" name="avatar" accept="image/*" style="visibility: hidden"/> 
                <a href="#">
                    <!-- TODO Аватарки сжимаются под размер -->
                    <img onclick="$('#load-avatar').trigger('click')" class="responsive-img"
                    {% if user.avatar %}
                        src="{{ user.avatar.url }}">
                    {% else %}
                        src="{% static 'main/images/nopic.jpg' %}"/>
                    {% endif %}
                </a>
            </form>
            <p>{{ user.email }}</p>
        </div>

        <div class="col s8">
            <div class="row">
                <center><h2>Мои курсы</h2></center>
                <ul class="tabs">
                    <li class="tab"><a href="#active" class="active">Активные</a></li>
                    <li class="tab"><a href="#completed">Завершенные</a></li>
                </ul>
            </div>
            
            <div class="row">
                <div id="active" class="col s12">
                    {% for c in user.courses.all %}
                        <div class="col s6">
                            <a href="/courses/{{ c.id }}">
                                <div class="card blue-grey darken-1 hoverable">
                                    <div class="card-content white-text">
                                        <span class="card-title">{{ c.title }}</span>
                                        <p>{{ c.summary|truncatechars:100 }}</p>
                                        <br>
                                        {% with c.id|get_course_progress:user.completed_tasks.all as progress %}
                                            <p>Прогресс: {{ progress.completed }}/{{ progress.all }}</p> 
                                            <div class="progress">
                                                <div class="determinate" 
                                                    style="width: {{ progress.percents }}%">
                                                </div>
                                            </div>
                                        {% endwith %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            
                <div id="completed" class="col s12">
                    {% for c in user.completed_courses.all %}
                        <div class="col s6">
                            <a href="/courses/{{ c.id }}">
                                <div class="card blue-grey darken-1 hoverable">
                                    <div class="card-content white-text">
                                        <span class="card-title">{{ c.title }}</span>
                                        <p>{{ c.summary|truncatechars:100 }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.tabs').tabs();

            $('#load-avatar-form').submit(function(e){
                e.preventDefault();
                var form = $(this);
                var path = "{% static 'media' %}" + '/';

                var data = new FormData(this)
                var filename = data.get('avatar')['name']
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        $('#load-avatar-form > a > img').attr('src', path + filename);
                    }
                });
            });
        });        
    </script>

    <style>
        .responsive-img {
            height: 300px !important;
            width: 300px !important;
        }
    </style>
{% endblock %}