{% extends 'main/header.html' %}

{% block content %}
    <div class="row">

        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/courses" class="breadcrumb">Курсы</a>
                    <a href="/courses/{{ course.id }}" class="breadcrumb">{{ course.title }}</a>
                </div>
            </div>
        </nav>  

        <h3>{{ task.title }}</h3>
        <p>{{ task.summary }}</p>

        <div class="col s2">
            <div class="switch">
                <label>
                    <p>Night mode</p>
                    <input id="switch-mode" type="checkbox">
                    <span class="lever"></span>
                </label>
            </div>
        </div>

        <form id="select-language-form" method="post">{% csrf_token %}</form>
        <form id="all-forms" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col s7">
                <div class="file-field input-field">
                    <div class="btn" style="width: 200px">
                        <i class="material-icons right">attach_file</i>
                        <span>Загрузить файл</span>
                        {{ upload_code_form }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
       
            <div class="input-field col s3">
                {{ select_language_form }}
                <label>Язык</label>   
            </div>

            <div id="editor" class="input-field col s12">
                {{ editor_submit_form.as_p }}
                <button class="btn waves-effect waves-light">
                    Отправить решение<i class="material-icons right">send</i>
                </button>
                {% include "main/includes/editor.html" with language="python" %}
            </div>
        </form>


        <div class="input-field col s6">
            <h4>Решение задачи</h4>
            <span style="white-space: pre-line">{{ task.solution }}</span>
        </div>

        <div id="tests" class="input-field col s6">
            {% include "main/includes/tests.html" %}      
        </div>
    </div>

    
    <script>
        $(document).ready(function(){
            $('select').formSelect();
            $('#id_language').attr('name', 'language');
            $('#select-language-form').submit(function(e){
                e.preventDefault();
                var form = $(this);
                var language = $('select').children("option:selected").text()
                var re = new RegExp("language=.+", 'g')
                var data = form.serialize().replace(re, "language=" + language)

                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: data,
                    success: function(response) {
                        var style = $('div.CodeMirror').hasClass('cm-s-material')

                        var solution = foo_codemirror.getValue();  
                        $("#editor").append(response);
                        $("#editor > p > div:nth-child(4)").remove()
                        foo_codemirror.setValue(solution)

                        if (style) { 
                            var el = $('div.CodeMirror');
                            el.removeClass('cm-s-eclipse'); 
                            el.addClass('cm-s-material'); 
                        }
                    }
                });
            });

            $('#all-forms').submit(function(e){
                e.preventDefault();
                var form = $(this);

                var solution = foo_codemirror.getValue();
                var re = new RegExp("solution=?.+", 'g')
                var data = form.serialize().replace(re, "solution=" + solution)
                
                var language = $('select').children("option:selected").text()
                data += '&language=' + language;
                
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: data,
                    success: function(response) {
                        $("#tests").empty().append(response);
                    }
                });
            });
        });

        $('#switch-mode').click(function(){
            var el = $('div.CodeMirror');
            if (el.hasClass('cm-s-eclipse')) {               
                el.removeClass('cm-s-eclipse');
                el.addClass('cm-s-material');
            } else {
                el.addClass('cm-s-eclipse');
                el.removeClass('cm-s-material');
            }
        });
    </script>
{% endblock %}

