{% extends 'main/header.html' %}

{% block content %}
    <div class="row">
        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/courses" class="breadcrumb">Курсы</a>
                    <a href="/courses/{{ course.id }}" class="breadcrumb">{{ course.title }}</a>
                </div>
            </div>
        </nav>  
        <div class="col s8 offset-s2">
            <center>
                <h3>{{ task.title }}</h3>
                <span style="white-space: pre-wrap">{{ task.summary }}</span>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col s2">
            <div class="switch">
                <label>
                    <p>Night mode</p>
                    <input id="switch-mode" type="checkbox">
                    <span class="lever"></span>
                </label>
            </div>
        </div>

        <form id="select-language-form" method="post">{% csrf_token %}</form>
        <form id="all-forms" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col s6">
                <div class="file-field input-field">
                    <div class="btn" style="width: 200px">
                        <i class="material-icons right" style=" transform: rotate(30deg)">attach_file</i>
                        <span>Загрузить файл</span>
                        {{ upload_code_form }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
       
            <div class="input-field col s3">
                {{ select_language_form }}
                <label>Язык</label>   
            </div>

            <div class="col s1">
                <a class="modal-trigger" href="#info-modal" style="float: right">
                    <i class="small material-icons" style="color: black; margin-top: 25px;">info_outline</i>
                </a>

                <div id="info-modal" class="modal">
                    <div class="modal-content">
                    <h4>Справка</h4>
                    <p>Примеры написания кода на разных языках</p>
                    </div>
                        <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Понятно</a>
                    </div>
                </div>
            </div>

            <div id="editor" class="input-field col s12">
                {{ editor_submit_form.as_p }}
                <button class="btn waves-effect waves-light">
                    Отправить решение<i class="material-icons right">send</i>
                </button>
                <div class="progress" style="width: 225px; visibility: hidden;">
                    <div class="indeterminate"></div>
                </div>
                {% include "main/includes/editor.html" with language="python" %}  
            </div>
        </form>
        <div id="tests">{% include "main/includes/tests.html" %}</div>
        
        <div class="input-field col s12">
            <h4>Решение задачи</h4>
            <button onclick="foo_codemirror.setValue($('#copy-solution').text())">Скопировать решение в редактор</button>
            <div style="border: 1px solid gray; padding: 5px;">
                <span id="copy-solution" style="white-space: pre-wrap;">{{ task.solution }}</span>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('select').formSelect();
            $('.modal').modal();

            $('#id_language').attr('name', 'language');
            
            $('#select-language-form').submit(function(e){
                e.preventDefault();
                var form = $(this);
                var language = $('select').children("option:selected").text()
                var re = new RegExp("language=.+", 'g')
                var data = form.serialize()
                data += "&language=" + language

                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: data,
                    success: function(response) {
                        var style = $('div.CodeMirror').hasClass('cm-s-material')

                        var solution = foo_codemirror.getValue();  
                        $("#editor").append(response);
                        $("#editor > p > div:nth-child(4)").remove()
                        foo_codemirror.setValue(solution)

                        if (style) { 
                            var el = $('div.CodeMirror');
                            el.removeClass('cm-s-eclipse'); 
                            el.addClass('cm-s-material'); 
                        }
                    }
                });
            });
            
            $('#all-forms').submit(function(e){
                $('.progress').css('visibility', 'visible');

                e.preventDefault();
                var form = $(this);
                
                var selected_option = $('select').children("option:selected");
                var language = selected_option.text();
                selected_option.val(language);

                $('#id_solution').val(foo_codemirror.getValue());

                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(response) {
                        $("#tests").empty().append(response);
                        $('.progress').css('visibility', 'hidden');
                    }
                });
            });
        });

        $('#switch-mode').click(function(){
            var el = $('div.CodeMirror');
            if (el.hasClass('cm-s-eclipse')) {               
                el.removeClass('cm-s-eclipse');
                el.addClass('cm-s-material');
            } else {
                el.addClass('cm-s-eclipse');
                el.removeClass('cm-s-material');
            }
        });
    </script>
{% endblock %}

