
{% load static %}
<nav>
    <div class="nav-wrapper">
        <a href="/courses" class="brand-logo center">
            <img src="{% static 'main/images/large_logo_white.png' %}" style="height: 30px; margin-top: 15px;">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons" style="font-size: 30px">menu</i>
        </a>
        
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% include "main/includes/navbar-buttons.html" %}
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <center><i class="material-icons" style="font-size: 30px">account_box</i></center>
    {% include "main/includes/navbar-buttons.html" %}
</ul>

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav({
            menuWidth: 300,         // Default is 300
            edge: 'left',           // Choose the horizontal origin
            closeOnClick: false,    // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true         // Choose whether you can drag to open on touch screens
        });
    });
</script>