<nav>
    <div class="nav-wrapper">
        {% if user.is_authenticated  %}
            <a href="/courses" class="brand-logo center">ExamineLab</a>
        {% else %}
            <a href="/" class="brand-logo center">ExamineLab</a>
        {% endif %}
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons" style="font-size: 30px">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated  %}
                <li><a href="/profile">{{ user.username }}</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <center><i class="material-icons" style="font-size: 30px">account_box</i></center>
    {% if user.is_authenticated  %}
        <li><a href="/profile">{{ user.username }}</a></li>
        <li><a href="/logout">Logout</a></li>
    {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    {% endif %}
</ul>

<script>
$(document).ready(function(){
    $('.sidenav').sidenav({
        menuWidth: 300,         // Default is 300
        edge: 'left',           // Choose the horizontal origin
        closeOnClick: false,    // Closes side-nav on <a> clicks, useful for Angular/Meteor
        draggable: true         // Choose whether you can drag to open on touch screens
    });
    $('.sidenav').sidenav('show');
});
</script>