<div class="input-field col s6">             
    <h4>Тесты</h4>
    <ul class="collapsible">
        {% for test in tests %}
            <li>
                {% if not passed %}
                <div class="collapsible-header yellow">
                    <i class="tiny material-icons">cached</i>
                {% elif passed|get_item:test.id %}
                <div class="collapsible-header green">
                    <i class="tiny material-icons">check</i>
                {% else %}
                <div class="collapsible-header red">
                    <i class="tiny material-icons">close</i>
                {% endif %}
                    <h7>{{ test.title }}</h7>
                </div>

                <div class="collapsible-body">
                    <div class="row">
                        <center>
                            <div class="col s4">
                                <h6>Входные данные</h6>
                                <span style="white-space: pre-wrap">{{ test.input }}</span>
                            </div>
                            <div class="col s4">
                                <h6>Ожидается</h6>
                                <span style="white-space: pre-wrap">{{ test.output }}</span>
                            </div>
                            <div class="col s4">
                                <h6>Результат</h6>
                                <span style="white-space: pre-wrap">{{ test.result }}</span>
                            </div>
                        </center>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="input-field col s6">
    <h4>Ошибки</h4>
    <textarea readonly style="height: 200px; color: red; resize: vertical;">{% for test in tests %}{% if test.error%}
Тест {{ test.id }} {{ test.title }} 
{{ test.error }}{% endif %}{% endfor %}</textarea>
</div>

{% with passed|check_all as checks %}
    {% if not checks is False %}
        {% if checks.passed_tests is checks.tests_count %}
            <script>
                M.toast({html: 'Задание успешно пройдено!',
                        classes: 'green',
                        display_length: 2000})
            </script>
        {% else %}
            <script>
                M.toast({html: 'Пройдено {{ checks.passed_tests }}/{{ checks.tests_count }} тестов',
                        classes: 'blue',
                        display_length: 2000})
            </script>
        {% endif %}
    {% endif %}
{% endwith %}

<script>
    $(document).ready(function(){
        $(".collapsible").collapsible({accordion: true});
        $(".collapsible").collapsible({accordion: false});
    });
</script>